# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [51]:
# 1

import pandas as pd

# Load the dataset
data = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

# Display original column names
print("Original column names:", data.columns)

# Clean column names
data.columns = (
    data.columns.str.replace("ST", "state")
              .str.lower()          # Convert to lowercase
              .str.replace(" ", "_")  # Replace spaces with underscores
              
)

# Display cleaned column names
print("Cleaned column names:", data.columns)

Original column names: Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Cleaned column names: Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [52]:
#2

# Clean and standardize the Gender column
data["gender"] = data["gender"].str.strip().str.lower().replace({
    "f": "F", 
    "female": "F", 
    "m": "M", 
    "male": "M", 
    "femal": "F"
})

# Replace state abbreviations with full names
state_mapping = {
    "AZ": "Arizona",
    "Cali": "California",
    "WA": "Washington"
}
data["state"] = data["state"].replace(state_mapping)

# Replace "Bachelors" with "Bachelor" in the Education column
data["education"] = data["education"].str.strip().str.replace("Bachelors", "Bachelor", regex=False)

# Remove the % character from Customer Lifetime Value
data["customer_lifetime_value"] = data["customer_lifetime_value"].astype(str).str.replace("%", "").astype(float)

# Standardize the Vehicle Class column
vehicle_class_mapping = {
    "Sports Car": "Luxury",
    "Luxury SUV": "Luxury",
    "Luxury Car": "Luxury"
}
data["vehicle_class"] = data["vehicle_class"].replace(vehicle_class_mapping)

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [53]:
# 3

# Correct the data type of Customer Lifetime Value
data["customer_lifetime_value"] = data["customer_lifetime_value"].astype(str).str.replace("%", "").astype(float)

# Fix the Number of Open Complaints column
# Extract the middle value (e.g., 1/5/00 -> 5), handle NaN and invalid formats safely
def extract_complaints(value):
    if pd.isna(value):
        return None  # Leave NaN as is
    try:
        # Split the string and extract the middle part
        if "/" in value:
            return int(value.split("/")[1])
        return int(value)  # If no "/" exists, try to convert directly
    except ValueError:
        return None  # Handle unexpected formats

data["number_of_open_complaints"] = data["number_of_open_complaints"].astype(str).apply(extract_complaints)

# Convert to numeric for proper type
data["number_of_open_complaints"] = pd.to_numeric(data["number_of_open_complaints"], errors="coerce")

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [54]:
# 4

# Step 1: Identify columns with null values and count them
null_counts = data.isnull().sum()

# Display columns with null values and their counts
print("Columns with Null Values and Counts:")
print(null_counts[null_counts > 0])

# Step 2: Choose a strategy for handling null values
# - For numerical variables, we will fill nulls with the median.
# - For categorical variables, we will fill nulls with the mode.

# Separate numerical and categorical columns
numerical_columns = data.select_dtypes(include=['float64', 'int64']).columns
categorical_columns = data.select_dtypes(include=['object']).columns

# Fill nulls in numerical columns with the median
for col in numerical_columns:
    data[col] = data[col].fillna(data[col].median())

# Fill nulls in categorical columns with the mode
for col in categorical_columns:
    data[col] = data[col].fillna(data[col].mode()[0])

# Step 3: Verify that all null values have been handled
null_counts_after = data.isnull().sum()

# Display columns with null values after handling them
print("Columns with Null Values After Handling:")
print(null_counts_after[null_counts_after > 0])

# Step 4: Convert all numeric variables to integers
for col in numerical_columns:
    data[col] = data[col].astype(int)

# Verify data types
print("\nFinal Data Types:")
print(data.dtypes)

Columns with Null Values and Counts:
customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64
Columns with Null Values After Handling:
Series([], dtype: int64)

Final Data Types:
customer                     object
state                        object
gender                       object
education                    object
customer_lifetime_value       int64
income                        int64
monthly_premium_auto          int64
number_of_open_complaints     int64
policy_type                  object
vehicle_class                object
total_claim_amount            int64
dtype: object

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [55]:
# 5

# Step 1: Identify duplicate rows
duplicates = data.duplicated()

# Count the number of duplicate rows
duplicate_count = duplicates.sum()
print(f"Number of duplicate rows: {duplicate_count}")

# Step 2: Choose a strategy for handling duplicates
# Strategy: Drop all duplicate rows and keep only the first occurrence
data = data.drop_duplicates(keep='first')

# Step 3: Reset the index to ensure consistency
data = data.reset_index(drop=True)

# Step 4: Verify that duplicates have been handled
duplicates_after = data.duplicated().sum()
print(f"Number of duplicate rows after handling: {duplicates_after}")

Number of duplicate rows: 2936
Number of duplicate rows after handling: 0

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [56]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [57]:
# Your code here